@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins';

.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    padding: 0 1rem;
    width: 100%;
    position:fixed;
    z-index: 2;

    &__logo {
        height: 2.5rem;
    }
    &__list {
        display: flex;
        padding: 0 1rem;

        &-item {
            list-style-type: none;
            padding: 0 1rem;
            display: flex;
            align-items: center;

            &-icon {
                height: 20px;
                margin-right: 0.3rem;
            }
        }
        &-text {
            display: none;

            @include mixins.desktop {
                display: inline;
            }
        }
    }
}